
*{
    text-decoration: none;
    list-style-type: none;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container{
    min-height: 100vh;
    display: grid;
    place-items: center;

    p{
        font-size: 5rem;
    }
}